/* Contenedor del Header */
.header-component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  position: relative;
  width: 97.5%;
  background-color: grey; /* Fondo oscuro */
}
/* Enlace del Header */
.header-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Sin subrayado */
  color: #fff; /* Texto blanco */
}

/* Logo */
.logo {
  height: 50px; /* Tamaño del logo */
  margin-right: 10px; /* Espaciado entre el logo y el texto */
}

/* Título */
.title {
  font-size: 1.8rem; /* Tamaño del texto */
  font-weight: bold;
  color: #fff;
}
