/* Fondo del Dashboard */
.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  background: url('Fondo Azul.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding: 20px;
}

/* Ícono de casita para volver al dashboard */
.homeIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.2s ease;
}

.homeIcon:hover {
  transform: scale(1.2);
}

/* Título del buscador */
.searchTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Contenedor de la barra de búsqueda con el ícono */
.searchBarContainer {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 800px;
  border-bottom: 4px solid #000;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ícono de la lupa */
.searchIcon {
  font-size: 1.5rem;
  color: #000;
  margin-right: 10px;
}

/* Estilos del input */
.searchBar {
  flex: 1;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

/* Contenedor del buscador */
.searchHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Lista de resultados */
.searchData {
  width: 100%;
  margin-top: 20px;
}

.searchData ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.searchData li {
  font-size: 1.5rem;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 8px;
  margin-bottom: 10px;
}

.searchData li:hover {
  background-color: rgba(0, 0, 255, 0.1);
}

/* Ícono para agregar amigo */
.addFriendIcon {
  font-size: 1.5rem;
  color: green;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.addFriendIcon:hover {
  transform: scale(1.2);
  color: darkgreen;
}

/* Botón de solicitudes de amistad */
.friendRequestsButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friendRequestsButton:hover {
  background-color: #0056b3;
}

/* Botón de solicitudes de amistad en la esquina superior derecha */
.topRightButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Lista de usuarios */
.searchItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.userName {
  font-size: 1rem;
  color: #333;
}