.elegir-dificultad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .elegir-dificultad-container h2 {
    margin-bottom: 20px;
  }
  
  .elegir-dificultad-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  