#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  background-color: #343a40; /* Fondo oscuro */
  color: #f8f8f8; /* Texto claro */
}

h1 {
  font-size: 3rem;
  color: #f8f8f8;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  color: #f8f8f8;
  margin-top: 10px;
}

a {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

a:hover {
  cursor: pointer;
}

/* Add responsive design for mobile devices */
@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  a {
    width: 100%;
  }
}
